.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f7f7f7;
  border-top: 1px solid #e0e0e0;
  flex-direction: column;
  margin-top: 50px;
  @media (max-width: 1200px) {
    margin-bottom: 20px;
  }
}

.heading {
  margin-bottom: 25px;
  font-weight: 600;
  text-align: left;

  @media (max-width: 550px) {
    text-align: center;
  }
}

.footer-section {
  margin: 2px 20px 20px 2px;

  @media (max-width: 550px) {
    width: 90%;
    margin: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e0e0e0 !important;
  }
}

.footer-section-last {
  margin: 2px 20px;
}

.footer-main {
  display: flex;
  align-items: baseline;
  justify-content: left;
  /* max-width: max-content; */
  @media (max-width: 550px) {
    flex-direction: column !important;
  }
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
  font-weight: 500;
}

.footer-section p {
  margin: 5px 0;
  font-size: 15px;
  color: #8b8b8b;
  font-weight: 450;
}

.footer-section a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-size: 0.9em;
}

.footer-section a:hover {
  text-decoration: underline;
}
